/*
Coin Slider jQuery plugin CSS styles
http://workshop.rs/projects/coin-slider
 */


.coin-slider { overflow: hidden; zoom: 1; position: relative; float: left}
.coin-slider a{ text-decoration: none; outline: none; border: none; }

.cs-buttons { font-size: 0px; padding: 10px; float: left; }
.cs-buttons a { margin-left: 5px; height: 10px; width: 10px; float: left; border: 1px solid #B8C4CF; color: #B8C4CF; text-indent: -1000px; }
.cs-active { background-color: #B8C4CF; color: #FFFFFF; }

.cs-buttons a {
  background: -moz-linear-gradient(center top , #CCCCCC, #F3F3F3) repeat scroll 0 0 transparent;
  border-radius: 50% 50% 50% 50%;
}
a.cs-active {
  background: -moz-linear-gradient(center top , #599BDC, #3072B3) repeat scroll 0 0 transparent;
  border: 1px solid #3072B3 !important;
  border-radius: 50% 50% 50% 50%;
  box-shadow: 0 0 3px #518CC6;
}

.cs-title { width: 960px; padding: 10px; background-color: #000000; color: #FFFFFF; }

.cs-prev,
.cs-next { background-color: #000000; color: #FFFFFF; padding: 0px 10px; }
