#mapka
  .grid_1
    %h6.name.w100p Kontakt
    %p Tczew 83-110
    %p ul. Żwirki 32/41
    %p
      mail:
      %a{:href => "mail://jg.zlotnictwo@gmail.com"}
        jg.zlotnictwo@gmail.com
  .grid_3
    %h6.name.w100p Mapa dojazdowa
    %a{:href => "http://mapa.targeo.pl/JG_Zlotnictwo,19,18.76492,54.09730?l=dbcf96905c29d4e6", :title => "Mapa Polski Targeo" }
      %img{:alt => "Mapa Polski Targeo", :border => "0", :src => "/JG_Zlotnictwo.png"}/
    .targeo
      Powered by
      %a{ :href => "http://www.targeo.pl", :title => "Targeo"} Targeo&reg;
      |
      %a{ :href => "http://www.automapa.pl", :title => "AutoMapa"} AutoMapa&reg;
